<div class="p-4 md:p-8">
  <div class="max-w-2xl mx-auto border border-black border-solid p-8 rounded-xl">
    <h1 class="serif text-5xl mb-2">
      Login
    </h1>

    {% form 'new_member_session', current_site_user %}
      {% if form.notice %}
        <div class="bg-neongreen p-2 mb-4 rounded">
          {{ form.notice }}
        </div>
      {% endif %}
      {% if form.errors.messages['form'] %}
        <div class="bg-neongreen p-2 mb-4 rounded">
          {{ form.errors.messages['form'] }}
        </div>
      {% endif %}

      <div class="mb-4">
        <label for="member_email" class="block sans-serif text-sm text-black">Email</label>
        <input spellcheck="false" autocorrect="off" autofocus="autofocus" type="text" name="member[email]" id="member_email" value="{{form.email}}" class="w-full inline-block bg-white text-black border border-black border-solid sans-serif text-2xl uppercase rounded px-2 py-1" placeholder="your@email.com" required/>
      </div>

      <div class="mb-4">
        <label for="member_password" class="block sans-serif text-sm text-black">Password</label>
        <input type="password" name="member[password]" id="member_password" class="w-full inline-block bg-white text-black border border-black border-solid sans-serif text-2xl uppercase rounded px-2 py-1"/>
      </div>

      <div>
        <input type="checkbox" value="1" name="member[remember_me]" id="member_remember_me"/>
        <label for="member_remember_me" class="sans-serif text-sm text-black">Remember Me</label>
      </div>

      <input class="w-full text-center inline-block bg-black text-white border border-black border-solid sans-serif text-2xl uppercase rounded mt-4 px-2 py-1" type="submit" name="commit" value="Login">
    {% endform %}
    <a class="w-full text-center inline-block bg-white text-black border border-black border-solid sans-serif text-2xl uppercase rounded mt-4 px-2 py-1" href="/password/new">
      Forgot Password
    </a>
  </div>
</div>

{% schema %}
  {
    "name": "Login",
    "elements": []
  }
{% endschema %}
