<h1 class="serif pt-8 cta-text">
  This is the online learning portal for Index, a center for peer-led programming and the generous exchange of knowledge and ideas.
</h1>

<h1 class="serif pt-4 cta-text">
  When you buy pre-recorded courses from our
  <a class="border border-solid border-white sans-serif uppercase" href="https://www.index-space.org/collections/courses" target="_blank">Store</a>, you can
  <a class="border border-solid border-white sans-serif uppercase" href="/login">Login</a>
  here to access them.
</h1>
